@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #f1f5f9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #3b0764 0%, #1a052e 52%, #121212 100%);
  background-attachment: fixed;
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}
